# Emacs
# eshell files
/**/eshell/history
/**/eshell/lastdir

# elpa packages
/**/elpa/

# org-mode configuration file
/**/.emacs.d/configuration.el

# auto save dir
auto-save-list

# smex files
smex-items

# ido-files
ido.last

# emacs server
server

# projectile
projectile-bookmarks.eld
projectile.cache

# Misc
/**/.emacs.d/transient/
